* {
    padding: 0;
    margin: 0;
}

body {
    padding-top: 5rem;
}

.columns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-bottom: 20px;
}

.images {
    /* border: 1px solid #808080; */
    /* border-radius: 10px; */
    /* display: flex;
    justify-content: center;
    columns: 3 250px;
    gap: 15px; */
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
}

.uploaded-img {
    /* padding: 10px; */
    /* max-width: 250px;
    max-height: 250px; */
    width: 100%;
    height: 100%;
    align-self: center;
    box-shadow: 1px 1px #808080;
}